<div class="price_title">
  {{year}}年第{{season}}季度舟山市建筑工种人工成本信息价</div>
<table width="710" height="25" class="tableview">
  <tr>
    <th>序 号</th>
    <th>工 种</th>
    <th>日工资</th>
  </tr>
  {% for item in items %}
  <tr onMouseOver="this.bgColor='#cbeceb';" onmouseout="this.bgColor='#FFFFFF';" bgcolor="#ffffff"; bordercolor="#CCCCCC" class="{{item.odd-even}}">
    <td width="40" class="info">{{item.item-index}}</td>
    <td width="220" class="subject">{{item.man_type}}</td>
    <td width="220" class="info">{{item.per_salary}}</td>
  </tr>
  {% endfor %}
</table>
