<div class="zizhi_remark">本数据截止到{{latest-updatetime}}</div>
<table width="710" height="25" class="tableview">
  <tr>
    <th>序号</th>
    <th>姓名</th>
    <th>注册单位</th>
    <th>注册证书号码</th>
    <th>专业</th>
    <th>有效期</th>
  </tr>
  {% for gaisuan in gaisuans %}
  <tr onMouseOver="this.bgColor='#cbeceb';" onmouseout="this.bgColor='#FFFFFF';" bgcolor="#ffffff"; bordercolor="#CCCCCC" class="{{gaisuan.odd-even}}">
    <td width="40" class="info">{{gaisuan.item-index}}</td>
    <td width="90" class="info">{{gaisuan.name}}</td>
    <td width="280" class="subject">{{gaisuan.danwei}}</td>
    <td width="120"  class="info">{{gaisuan.zige}}</td>
    <td width="90" class="info">{{gaisuan.zhye}}</td>
    <td width="90"  class="info">{{gaisuan.period}}</td>
  </tr>
  {% endfor %}
</table>
