{% extends "views/layouts/application.html" %}
{% block content %}
<div class="danqianweizhi">
  <div class=" erji_name h1">{{root-type.subject}}</div>
  <div class=" erji_wz t5">当前位置：
    <a class="or" href="/article_types/{{root-type.id}}">{{root-type.subject}}</a> &gt;
    <a class="or" href="/article_types/{{type.id}}">{{type.subject}}</a>
  </div>
</div>
<div class="erji_content">
  {% include "views/layouts/navigator.html" %}
  <div class="erji_right">
    {% if articles %}
    {% for article in articles %}
    <div class="r_news_gst">
      <div class="r_news_pic">
	    <img src="/skins/default/images/z25.jpg" width="15" height="23" />
      </div>
	  <div name="title" class="r_news_t t5">
        {% if article.article_type_id %}
            {{article.addtime}}
        {% endif %}
        <a class="or" href="{{article.uri}}">{{article.title}}</a>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="paginate">
      显示
      <b>{{from}} - {{to}} , 共 {{num-articles}} 条记录</b>
      <span> </span>
      <div class="pagination">
        {% if current-page < 2 %}
            <span class="prev_page">
              « 上一页
            </span>
        {% else %}
            <a class="prev_page" rel="prev start" href="{{base-uri}}?page={{current-page-dec}}">
              « 上一页
            </a>
        {% endif %}
        <span> </span>
        {% for link in head-links %}
            <a href="{{base-uri}}?page={{link}}">{{link}}</a>
            <span> </span>
        {% endfor %}
        {% for link in from-current-links %}
            <a href="{{base-uri}}?page={{link}}">{{link}}</a>
            <span> </span>
        {% endfor %}
        <span class="current">{{current-page}} </span>
        {% for link in current-to-links %}
            <a href="{{base-uri}}?page={{link}}">{{link}}</a>
            <span> </span>
        {% endfor %}
        {% for link in tail-links %}
            <a href="{{base-uri}}?page={{link}}">{{link}}</a>
            <span> </span>
        {% endfor %}
        {% if is-last-page %}
            <span class="disabled next_page">下一页 »</span>
        {% else %}
            <a class="next_page" rel="next" href="{{base-uri}}?page={{current-page-inc}}">下一页 »</a>
        {% endif %}
     </div>
    </div>
  </div>
</div>
{% script "/javascripts/paginator.js" %}
{% endblock %}
