{% extends "views/layouts/application.html" %}
{% block content %}
<div class="danqianweizhi">
  <div class=" erji_name h1">资质资格</div> 
  <div class=" erji_wz t5">当前位置：
    <a href="/zhongjies" class="or">资质资格</a> &gt; 
    <a href="/{{type}}" class="or">{{subtitle}}</a>
  </div> 
</div>
<div class="erji_content">
  {% include "views/zhongjies/navigator.html" %}
  <div class="erji_right">
    <div class=" zizhi_sousuo h3">
      <table>
        <tr>
          <td>
            <form action="/zhongjies/search" id="search_form" method="post" onsubmit="jQuery.ajax({data:jQuery.param(jQuery(this).serializeArray()) + '&amp;authenticity_token=' + encodeURIComponent('7NSlgmbOtICU2RXWQZScwwMzqVc/tUZbCDf3TKzbmj0='), dataType:'script', error:function(request){alert('出错了')}, type:'get', url:'/zhongjies/search'}); return false;">
              <div style="margin:0;padding:0;display:inline">
                <input name="authenticity_token" type="hidden" value="7NSlgmbOtICU2RXWQZScwwMzqVc/tUZbCDf3TKzbmj0=">
              </div>
              <select id="search_field" name="search[field]">
                {% ifequal type "zjshis" %}
                <option value="company">-姓名-</option>
                {% endifequal %}
                {% ifequal type "gaisuans" %}
                <option value="company">-姓名-</option>
                {% endifequal %}
                <option value="company">-单位名称-</option>
                <option value="zizhi_no">-证书编号-</option>
              </select>
              <input id="textfield2" name="search_str" type="text" value="">
              <td>
                <input src="/images/z05.jpg?1374630107" type="image">
              </td>
            </form>
          </td>
        </tr>
      </table>
    </div>
    <div class='view'>
      <div id='view'>
        {% ifequal type "zhongjies" %}
        {% include "views/zhongjies/view.html" %}
        {% endifequal %}
        {% ifequal type "zhaobiaos" %}
        {% include "views/zhaobiaos/view.html" %}
        {% endifequal %}
        {% ifequal type "zjshis" %}
        {% include "views/zjshis/view.html" %}
        {% endifequal %}
        {% ifequal type "gaisuans" %}
        {% include "views/gaisuans/view.html" %}
        {% endifequal %}
        {% include "views/layouts/paginator.html" %}
      </div>
    </div>
  </div>
</div>
{% script "/javascripts/paginator.js" %}
{% endblock %}