<table class="showview">
  <tr>
    <th>企业名称</th>
    <td colspan="5">{{zhongjie.company}}</td>
  </tr>
  <tr>
    <th>企业地址</th>
    <td colspan="5">{{zhongjie.addr}}</td>
  </tr>
  <tr>
    <th>法定代表人</th>
    <th>姓名</th>
    <td>{{zhongjie.faren}}</td>
    <th>职称</th>
    <td colspan="2">{{zhongjie.faren_title}}</td>
  </tr>
  <tr>
    <th rowspan="2">技术负责人</th>
    <th>姓名</th>
    <td>{{zhongjie.tech_leader}}</td>
    <th>职称</th>
    <td colspan="2">{{zhongjie.tech_leader_title}}</td>
  </tr>
  <tr>
    <th colspan="2">造价工程师注册证号</th>
    <td colspan="3">{{zhongjie.register_no}}</td>
  </tr>
  <tr>
    <th>资质证书号</th>
    <td colspan="5">{{zhongjie.zizhi_no}}</td>
  </tr>
  <tr>
    <th>资质有效期限</th>
    <td colspan="5">{{zhongjie.period}}</td>
  </tr>
</table>
