{% extends "views/layouts/application.html" %}
{% block content %}
<style>
    strong {color:red;background-color:lightyellow;}
</style>
<div class="danqianweizhi">
    <div class=" erji_name h1">信息搜索</div>
    <div class=" erji_wz t5">当前位置：搜索结果
    </div>
</div>

<div class="erji_content">
    <ul class="search_navigator">
        <li class="left_pic">
            <img src="/skins/default/images/search.jpg?1374630107" width="197" height="74">
        </li>
        <li>
            {% include "views/search/search.html" %}
        </li>
    </ul>
    <div class="erji_right">
        <div style="width:740px;margin:auto;">
            {% for f in full_texts %}
            <p>
            <h2>
            <img alt="Z25" src="/skins/default/images/z25.png?1374630107">
            <a href="/{{f.document_type|lower}}s/{{f.document_id}}?search_str={{search_str}}" class="searched">
                [{{f.cat}}] {{f.subject}}
            </a>
            </h2>
            ... {{pretext}}<strong class="highlight">{{highlight}}</strong>>{{followtext}} ...
            </p>
            {% endfor %}

            <div class="paginate"><%= page_entries_info(@full_texts) %>&nbsp;&nbsp;<%= will_paginate @full_texts %></div>
        </div>
    </div>
</div>
{% script "/javascripts/paginator.js" %}
{% endblock %}
