<ul class="erji_left">
  <li class="left_pic">
    <img alt="E10" height="74" src="/skins/default/images/e10.jpg?1374630107" title="资料下载" width="197">
  </li>
  <li class="left_nav h2">
    <a href="/softwares?software_type=资质管理" class="bg">资质管理</a>
  <li class="left_nav h2">
    <a href="/softwares?software_type=计价管理" class="bg">计价管理</a>
  <li class="left_nav h2">
    <a href="/softwares?software_type=信息管理" class="bg">信息管理</a>
  <li class="left_nav h2">
    <a href="/softwares?software_type=直接发包" class="bg">直接发包</a>
  <li class="left_nav h2">
    <a href="/softwares?software_type=招标投标" class="bg">招标投标</a>
</ul>
