<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
        width="{{focus_width}}" height="{{swf_height}}">
  <param name="allowScriptAccess" value="sameDomain">
  <param name="movie" value="flash/pixviewer.swf">
  <param name="quality" value="high">
  <param name="bgcolor" value="#CCCCCC">
  <param name="menu" value="false">
  <param name="wmode" value="opaque">
  <param name="FlashVars" value="pics={{pics}}&links={{links}}&texts={{texts}}&borderwidth={{focus_width}}&borderheight={{focus_height}}&textheight={{text_height}}">
</object>
