{% extends "views/layouts/application.html" %}
{% block content %}
<link href="/skins/default/css/home.css" media="screen" rel="stylesheet" type="text/css">

<!-- section 1: 公告 -->
<div class=" notice t1">
  <div class="notice_left">公告：</div>
  <div class="notice_right">
    <marquee direction="left" scrollamount="3" onMouseOut="this.start()" onMouseOver="this.stop()">
      {% if banner-notice %}
      <a class="announce" target="_blank" href="/articles/{{banner-notice.id}}">
        {{banner-notice.title}}
      </a>
      {% endif %}
   </marquee>
  </div> 
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#notice').dialog({
        width: 485,           
        height: 330,
        modal: false
    });
  });
</script>

{% if popup-notice %}
<div id="notice" title="" style="display:none;background-color:#FFFFFF;border:solid 1px #c4c4c4; ">
 <div class="home_notice t6">
   <center>{{popup-notice.title}}</center>
</div>  
 <div class="home_notice t5">
   {{popup-notice.content|safe}}
 </div>
</div>
{% endif %}

<div class="friendLink">友情链接</div>
<ul class="friendLink_par">
  <li class="link_pic">
    <a href="http://www.mohurd.gov.cn/" target="_blank">
      <img alt="舟山造价招标网" height="50" src="/skins/default/images/link1.jpg?1374630107" title="中华人民共和国住房和城乡建设部" width="150">
    </a>
  </li>
  <li class="link_pic">
    <a href="http://www.ccost.com/" target="_blank">
      <img alt="舟山造价招标网" height="50" src="/skins/default/images/link2.jpg?1374630107" title="中国建设工程造价信息网" width="150">
    </a>
  </li>
  <li class="link_pic">
    <a href="http://www.ceca.org.cn/" target="_blank">
      <img alt="舟山造价招标网" height="50" src="/skins/default/images/link3.jpg?1374630107" title="中国建设工程造价管理协会" width="150">
    </a>
  </li>
  <li class="link_pic">
    <a href="http://www.zjjs.com.cn/" target="_blank">
      <img alt="舟山造价招标网" height="50" src="/skins/default/images/link4.jpg?1374630107" title="浙江省建设信息港" width="150">
    </a>
  </li>
  <li class="link_pic">
    <a href="http://www.zscj.gov.cn/" target="_blank">
      <img alt="舟山造价招标网" height="50" src="/skins/default/images/link5.jpg?1374630107" title="舟山建设信息港" width="150">
    </a>
  </li>
  <li class="link_pic">
    <a href="http://www.zjzj.net/" target="_blank">
      <img alt="舟山造价招标网" height="50" src="/skins/default/images/link6.jpg?1374630107" title="浙江造价" width="150">
    </a>
  </li>
</ul>

<script type="text/javascript">
  function set_spec_selector(name) {
    new Ajax.Updater('spec_selector', '/materials/specs_selector?material_name=' + name, {
        method:     'get',
        onFailure:  function() {Element.classNames('about-content').add('failure')},
        onComplete: function() {new Effect.BlindDown('spec_selector', {duration: 0.25})}
    });
  }
</script>

<script>
var lastScrollY=0;
function scro(){
diffY=document.body.scrollTop;
percent=.1*(diffY-lastScrollY);
if(percent>0)percent=Math.ceil(percent);
else percent=Math.floor(percent);
document.getElementById('flt').style.pixelTop+=percent; //更改坐标
lastScrollY=lastScrollY+percent;
}
window.setInterval("scro()",30);
</script>
{% endblock %}
