<!--信息搜索-->
<div class="search_kuang">
  <div class="search_biaodan t2">
    <div class="search_form">
      <form action="search" method="get">
        <p>内容:<input class="white_long" id="search_search_str" name="search[search_str]" size="30" type="text"></p>
        <br>
        <p>栏目:<select class="biaodan_s" id="search_search_cat" name="search[search_cat]">
            <option value="">-所有分类-</option>
            <option value="公示信息">公示信息</option>
            <option value="办事指南">办事指南</option>
            <option value="招标代理机构">招标代理机构</option>
            <option value="政务公开">政务公开</option>
            <option value="政策法规">政策法规</option>
            <option value="新闻中心">新闻中心</option>
            <option value="考试培训">考试培训</option>
            <option value="计价天地">计价天地</option>
            <option value="资料下载">资料下载</option>
            <option value="造价协会">造价协会</option>
            <option value="造价员">造价员</option>
            <option value="造价咨询企业">造价咨询企业</option>
            <option value="造价工程师">造价工程师</option></select>
	      <input class="cont_search_img" src="/images/z05.jpg?1374630107" type="image">
        </p>
        <p>
        </p>
      </form>
    </div>
  </div>
</div>
