<table class="showview">
  <tr>
    <th width="20%">企业名称</th>
    <td width="80%" colspan="4">{{zhaobiao.company}}</td>
  </tr>
  <tr>
    <th>企业地址</th>
    <td colspan="4">{{zhaobiao.addr}}</td>
  </tr>
  <tr>
    <th width="20%">法定代表人</th>
    <th width="20%">姓名</th>
    <td width="20%">{{zhaobiao.faren}}</td>
    <th width="20%">职务</th>
    <td width="20%">{{zhaobiao.faren_title}}</td>
  </tr>
<tr>
    <th >单位负责人</th>
    <th>姓名</th>
    <td>{{zhaobiao.fuzeren}}</td>
    <th>职务</th>
    <td>{{zhaobiao.fuzeren_title}}</td>
  </tr>
  <tr>
    <th>技术负责人</th>
    <th>姓名</th>
    <td>{{zhaobiao.tech_leader}}</td>
    <th>职称或职业资格</th>
    <td>{{zhaobiao.tech_leader_title}}</td>
  </tr>
 <tr>
    <th>证书编号</th>
    <td colspan="4">{{zhaobiao.zizhi_no}}</td>
  </tr>
  <tr>
    <th>有效期</th>
    <td colspan="4">{{zhaobiao.period}}</td>
  </tr>
</table>
