{% extends "views/layouts/application.html" %}
{% block content %}
<div class="danqianweizhi">
  <div class=" erji_name h1">价格信息</div> 
  <div class=" erji_wz t5">当前位置：
    <a href="/man_markets" class="or">价格信息</a> &gt;
    <a href="/gczjzbs" class="or">技术经济指标</a>
  </div>
  </div>
<div class="erji_content">
  {% include "views/man_markets/navigator.html" %}
  <div class="erji_right">
    {% for zb in zbs %}
    <div class="r_news_gst">
      <div class="r_news_t t5">
        {{zb.show_addtime}}
        <!--[<%= to_date(gczjzb.addtime) %>]-->
        <a href="/gczjzbs/{{zb.id}}" class="or">{{zb.truncate_title}}</a>
      </div>
    </div>
    {% endfor %}
    <div class="r_news_pg t1">
      <strong>
        {% include "views/layouts/paginator.html" %}
      </strong>
    </div>
  </div>
</div>
{% script "/javascripts/paginator.js" %}
{% endblock %}