.notice {
    position:relative;
    width:964px;
    height:32px;
    line-height:26px;
    margin:0px auto;
    padding:0px 10px;
    background-image:url(../images/z03.jpg);
    background-repeat:no-repeat;
}
.notice_left {position:relative; float:left; width:40px; height:26px; margin:0px; font-weight:bold;}
.notice_right {position:relative; float:left; width:920px; height:26px; margin:0px;}

.content {
    position:relative;
    width:984px;
    height:755px;
    margin:0px auto;
    padding:0px;
}

/*左侧*/
.bar_left {
    position:relative;
    float:left;
    width:209px; 
    height:auto;
    margin:0px;
   }

/*右侧*/
.bar_right {
    position:relative;
    float:left;
    width:775px; 
    height:auto; 
    margin:0px;
    overflow:hidden;
}

/*右侧-上*/
.r_top {position:relative; width:775px; height:222px; margin:0px;}
/*右侧-中*/
.middle_img {
    position:relative;
    width:565px;
    height:68px;
    margin:0px;
    padding-bottom:5px;
    padding-left:10px;
    padding-top:0px;
    /* overflow:hidden; */
}
.center_imgs {position:relative; float:left; width:109px; height:68px; list-style:none; margin-top:5px;}
.center_imgs_l {margin-left:5px;}
.center_imgs_c_r  {margin-left:0px;}

/*右侧-下*/
.center_part1 {position:relative; float:left; width:565px; height:538px; margin:0px;}
.center_part11 {position:relative; float:left; width:565px; height:604px; margin:0px;}
.center_part {position:relative; float:left; width:565px; height:150px; margin:0px;}
.center_part2 {position:relative; float:left; width:210px; height:444px; margin:0px;background-color:#eaeaea; }
.r_bottom {position:relative; width:775px; height:533px; margin:0px;} 
.r_bottom_l {position:relative; float:left; width:565px; height:400px; margin-top:5px;}
.r_bottom_r {position:relative; float:left; width:210px; height:444px; margin:0px;background-color:#eaeaea; }
.bottom_pic {position:relative; width:563px; height:64px; border-bottom: #FFF 1px solid; border-left:#FFF 1px solid; border-right:#6CF 1px solid; margin:0px; overflow:hidden; }

/*搜索信息*/
.search {
    position:relative; 
    width:209px; 
    height:34px;
    background-image:url(../images/z04.jpg);
    background-repeat:no-repeat;
    line-height:30px;
    text-indent:32px;
    margin:0px;
}
.search_kuang {
    position:relative;
    width:207px; 
    height:90px;
    background-color:#f2f2f2;
    border-bottom:#c4c4c4 1px solid;border-left:#c4c4c4 1px solid; border-right:#c4c4c4 1px solid;
    margin:0px;
    overflow:hidden;}


.search_biaodan {position:relative; width:199px; height:109px; margin:0px; position:absolute}
.biaodan_h { width:144px; height:22px; border:#c4c4c4 1px solid; line-height:22px;}
.biaodan_s {width:80px; height:22px; line-height:22px; border:#c4c4c4 1px solid;}
.jianguan_img_position {position:relative; margin-left:1px;margin-top:12px;}	
.jianguan_img {position:relative; width:207px; height:90px; border-left:#c4c4c4 1px solid; border-right:#c4c4c4 1px solid; margin:0px;overflow:hidden;}

/*质监系统图标*/
.tubiao {position:relative; width:207px; height:90px; background-color:#ffffff; border-left:#c4c4c4 1px solid; border-right:#c4c4c4 1px solid; margin:0px;overflow:hidden;}

/*站长信箱*/
.mail {position:relative; width:207px; height:76px; background-color:#ffffff; border-left:#c4c4c4 1px solid; border-right:#c4c4c4 1px solid; margin:0px;overflow:hidden;}
.mail_bg {position:relative; width:207px; height:76px; margin:0px;}
.mail_pic {position:relative; width:207px; height:76px; margin:0px;}

/*资质查询*/
.chaxun_kuang {position:relative; width:207px; height:132px; background-color:#ffffff; border-left:#c4c4c4 1px solid; border-right:#c4c4c4 1px solid; margin:0px;overflow:hidden;}
.chaxun_bg {position:relative; width:199px; height:140px; margin:0px;}
.chaxun_pic {position:relative; width:190px; height:40px; margin:3px 0px 0px 8px;}
/*资源下载*/
.xiazai_kuang {position:relative; width:207px; height:173px; background-color:#ffffff; border-bottom:#c4c4c4 1px solid; border-left:#c4c4c4 1px solid; border-right:#c4c4c4 1px solid; margin:0px;overflow:hidden;}
ul.xiazai_bg {position:relative; width:199px; height:160px; margin:0px; padding-top:5px; overflow:hidden;}
li.xiazai_n {position:relative; width:195px; height:23px; list-style:none; text-indent:12px; line-height:23px;}
.download_bar {
    position:relative; 
    width:209px; 
    height:44px;
    background-image:url(../images/z04.jpg);
    background-repeat:no-repeat;
    line-height:30px;
    text-indent:32px;
    margin:0px;
}
.download_bar_l {position:relative; float:left; width:129px; line-height:30px; text-indent:32px;}
.download_bar_r {position:relative; float:left; width:80px; line-height:30px;}

/*相关内容*/
.xg {position:relative; width:207px; height:70px; background-color:#ffffff; margin:0px; border-bottom:#c4c4c4 1px solid; border-left:#c4c4c4 1px solid; border-right:#c4c4c4 1px solid; overflow:hidden; }
.xg_bg {position:relative; width:189px; height:62px; margin:0px; padding-left:10px; overflow:hidden; padding-top:7px;}
.xg_lj {width:188px; height:20px; line-height:18px; border:#c4c4c4 1px solid; color:#144e56; margin:0px; overflow:hidden;}
.select_short {width:90px; height:20px; line-height:18px; border:#c4c4c4 1px solid; color:#144e56; margin:0px; overflow:hidden;}
.select_medium {width:300px; height:20px; line-height:18px; border:#c4c4c4 1px solid; color:#144e56; margin:0px; overflow:hidden;}

/*建设动态*/
.jianshe {position:relative; float:left; width:565px; height:auto;}
.jianshe_d {position:relative; width:565px; height:34px; background-image:url(../images/z11.jpg); background-repeat:no-repeat;}
.jianshe_d_l {position:relative; float:left; width:520px; line-height:30px; text-indent:32px;}
.jianshe_d_r {position:relative; float:left; width:45px; line-height:30px;}
.jianshe_n {position:relative; width:544px; height:168px; margin:0px; padding:10px; border-bottom:#c4c4c4 1px solid; border-right:#c4c4c4 1px solid; overflow:hidden;}
.jianshe_pic {position:relative; float:left; width:234px; height:168px; margin-right:10px;}
ul.jianshe_news {position:relative; float:left; width:300px; height:168px; margin:0px;}
li.jianshe_news_p {position:relative; float:left; width:15px; height:24px; background-image:url(../images/z14.jpg); background-repeat:no-repeat; list-style:none;}
li.jianshe_news_t {position:relative; float:left; width:285px; height:24px; background-image:url(../images/z15.jpg); background-repeat:repeat-x; list-style:none; margin:0px;}
.news_n {position:relative; float:left; width:210px; height:24px; line-height:23px;}
.news_r {position:relative; float:left; width:75px; height:24px; line-height:23px;}
/*通知公示*/
.gongshi {position:relative; float:left; width:210px; height:auto;}
.gongshi_d {position:relative; width:210px; height:34px; margin:0px; background-image:url(../images/z13.jpg); background-repeat:no-repeat;}
.gongshi_d_l {position:relative; float:left; width:170px; line-height:30px; text-indent:32px;}
.gongshi_d_r {position:relative; float:left; width:40px; line-height:30px;}
.gongshi_t {position:relative; width:189px; height:168px; line-height:24px; border-bottom:#c4c4c4 1px solid; border-right:#c4c4c4 1px solid; margin:0px; padding:10px;overflow:hidden;}
.gongshi_img {position:relative; float:right; height:24px; line-height:24px; width:50px;}
.gongshi_long {position:relative; float:left; height:24px; line-height:24px;width:210px;}
.gongshi_short {position:relative; float:left; height:24px; line-height:24px; width:160px; margin-right:0}
/*右侧-下-公示新闻*/
.gongshi_bg {position:relative; width:207px; height:156px; background-color:#eaeaea; border-bottom:#c4c4c4 1px solid; border-left:#c4c4c4 1px solid; border-right:#c4c4c4 1px solid; margin:0px;overflow:hidden;}
ul.b_news {position:relative; width:565px; height:378px; margin:0px;}
li.b_news01 {position:relative; float:left; width:278px; height:179px; margin-top:5px; list-style:none;}
li.b_news02 {position:relative; float:left; width:277px; height:179px; margin-top:5px; margin-left:10px; list-style:none;}
.b_news_d {position:relative; width:278px; height:34px; background-image:url(../images/z23_1.jpg); background-repeat:no-repeat; margin:0px;}
.b_news_d_r {position:relative; width:277px; height:34px; background-image:url(../images/z2302.jpg); background-repeat:no-repeat; margin:0px;}
.b_news_d01 {position:relative; float:left; width:237px; height:34px; text-indent:32px; margin:0px; line-height:30px;}
.b_news_d02 {position:relative; float:left; width:40px; height:34px; margin:0px; line-height:30px;}
ul.b_news_gs {position:relative; width:565x; height:144px; border-bottom:#c4c4c4 1px solid; border-right:#c4c4c4 1px solid; margin:0px; padding-left:10px; overflow:hidden;}
ul.b_news_gs02 {position:relative; width:265px; height:144px; border-bottom:#c4c4c4 1px solid; border-left:#c4c4c4 1px solid; border-right:#c4c4c4 1px solid; margin:0px; padding-left:10px; overflow:hidden;}
li.b_news_gst {position:relative; width:565px; height:24px; list-style:none; background-image: url(../images/z24.jpg); background-repeat:repeat-x; margin:0px;}
.b_news_pic {position:relative; float:left; width:15px; height:24px; margin:0px;}
.b_news_t {position:relative; float:left; width:455px; height:24px; line-height:24px; margin:0px;}
.b_news_r {position:relative; float:left; width:75px; height:24px; line-height:24px; margin:0px;}

/*右侧-下-价格查询*/		
.cx_d {position:relative; width:210px; height:38px; line-height:30px; text-indent:32px; background-image:url(../images/z26.jpg); background-repeat:no-repeat; margin:0px;}
.cx_n {position:relative; width:191px; height:309px; padding:9px; margin:0px; background-color:#f2f2f2; border-bottom:#e4e4e4 1px solid; border-right:#e4e4e4 1px solid; overflow:hidden;}
.cx_biaodan {position:relative; width:191px; height:30px; margin-top:-15px; overflow:hidden;}
.cx_img {position:relative; width:191px; height:180px; margin-left:50px;}
.cx_wenben {position:relative; width:192px; height:200px; margin-top:-3px;margin-left:-5px;}
.xian {position:relative; width:191px; height:18px; line-height:18px; margin:0px;}
.cx {border-collapse:collapse;font-size:12px;text-align:center;margin-top:10px;}
.cx th {background-color:#6ab9d1; border:0; color:#036; font-size:12px; height:25px;line-height:21px}
.cx td {border:1px solid #dddddd;height:25px;line-height:21px}
.cx td.subject {text-align:left; font-family:"宋体";  color: #036;}
.cx td.info {text-align:center; font-family:"宋体"; font-size:12px; color: #036;}
.cx td.more {border:0px; text-align:center; font-family:"宋体"; font-size:12px; color: #036;}


/*.cx_neirong {position:relative; width:191px; height:24px; line-height:24px; margin:0px;}*/
.geren_pic {position:relative; width:210px; height:48px; margin-top:3px;}
.geren_pic1 {position:relative; width:210px; height:48px; margin-top:3px;}

/*友情链接*/	
.friendLink {position:relative; width:984px; height:32px; background-image:url(../images/z31.jpg); background-repeat:repeat-x; text-indent:5px; color:#0c6681; font-size:14px; font-weight:bold; line-height:30px; margin:0px auto;}
ul.friendLink_par {position:relative; width:984px; height:50px; margin:0px auto;}
li.link_pic {position:relative; float:left; width:150px; height:50px; margin-left:10px;list-style:none; overflow:hidden;}
/*页脚*/
/*
.footer01 {position:relative; width:984px; height:50px; background-color:#FFF; border-top:#0c6681 1px solid; line-height:25px; margin:10px auto;}
.footer {position:relative; float:left; width:984px; height:50px; background-color:#FFF; border-top:#0c6681 1px solid; line-height:25px; margin-top:10px;}
*/