{% extends "views/layouts/application.html" %}
{% block content %}
<div class="danqianweizhi"> 
  <div class=" erji_name h1">价格信息</div> 
  <div class=" erji_wz t5">
    当前位置：
    <a href="/man_markets" class="or">价格信息</a> &gt;
    <a href="/man_markets" class="or">人工价格信息</a> &gt;
    <a href="/man_markets" class="or">人工市场信息价</a>
  </div>
</div>
<div  class="erji_content">
  {% include "views/man_markets/navigator.html" %}
  <div class="erji_right">
    <div class="search_condition h3">
	    <form action="/man_markets" method="post" onsubmit="jQuery.ajax({data:jQuery.param(jQuery(this).serializeArray()) + '&amp;authenticity_token=' + encodeURIComponent('7NSlgmbOtICU2RXWQZScwwMzqVc/tUZbCDf3TKzbmj0='), dataType:'script', type:'get', url:'/man_markets'}); return false;">
          <div style="margin:0;padding:0;display:inline">
            <input name="authenticity_token" type="hidden" value="7NSlgmbOtICU2RXWQZScwwMzqVc/tUZbCDf3TKzbmj0=">
          </div>
	      <select id="selected_season" name="selected[season]">
            {% for year-season in all-year-seasons %}
            <option value="{{year-season.year}}-{{year-season.season}}">{{year-season.year}}年{{year-season.chinese-season}}季度</option>
            {% endfor %}
            <input class="cont_search_img" src="/images/z05.jpg?1374630107" type="image">
 	    </form>
    </div>
    <div id="view" class="view">
      <!--<%= render :partial => 'view' %>-->
    </div>
  </div>
</div>
{% endblock %}

