<ul class="erji_left">
  <li class="left_pic">
    <img alt="E05" height="74" src="/skins/default/images/e05.jpg?1374630107" title="价格信息" width="197">
  </li>
  <li class="left_nav h2">
    <a href="/man_markets" class="bg">人工价格信息</a>
  </li>
  <li class="left_images h2">
    <a href="/man_markets" class="img">&gt;人工市场信息价</a>
  </li>
  <li class="left_images h2">
    <a href="/man_costs" class="img">&gt;建筑工种人工成本信息价</a>
  </li>
  <li class="left_nav h2">
    <a href="/materials" class="bg">材料价格信息</a>
  </li>
  <li class="left_nav h2">
    <a href="/equipments" class="bg">机械价格信息</a>
  </li>
  <li class="left_nav h2">
    <a href="/gczjzbs" class="bg">技术经济指标</a>
  </li>
</ul>
