<div class="price_title">
  {{year}}年第{{season}}季度舟山市建设工程人工市场信息价
  {% if is-show-price-title %}
  (适用2003版计价依据)
  {% endif %}
</div>
<table width="710" height="25" class="tableview" >
  <tr>
    <th>序号</th> 
    <th>人工类别</th>
    <th>单 位</th>      
    <th>信息价(元/工日)</th>
  </tr>
  {% for item in items %}
  <tr onMouseOver="this.bgColor='#cbeceb';" onmouseout="this.bgColor='#FFFFFF';" bgcolor="#ffffff"; class="{{item.odd-even}}">
    <td width="40" class="info">{{item.item-index}}</td>    
    <td width="180" class="info">{{item.man_type}}</td>
    <td width="180" class="info">{{item.unit}}</td>
    <td width="180"  class="info">{{item.price}}<br /></td>
  </tr>
  {% endfor %}
</table>
<div class="price_remark">
  1、人工市场信息价可作为按照本省 2003 版计价依据编制工程概算、预算、招标控制价、投标报价、竣工结算时计算建设工程人工费的指导性依据。
</div>
<div class="price_remark">
  2、人工市场信息价作为计算人工费的依据，应计入直接费中，并作为取费基数
</div>
