<ul class="erji_left ">
  <li class="left_pic">  
    <img src="/skins/default/images/{{root-type.key}}.jpg" width="197" height="74" title="{{root-type.subject}}">
  </li>
  {% for item in level2s %}
  <li class="left_nav h2">
    {% if item.link_url %}
      {% if item.subject|length < 20 %}
        <a class="bg" target="_blank" href="{{item.link_url}}">{{item.subject}}</a>
      {% endif %}
      {% if item.subject|length >= 20 %}
        <a class="bg_long" target="_blank" href="{{item.link_url}}">{{item.subject}}</a>
      {% endif %}
    {% endif %}
    {% if not item.link_url %}
       <a class="bg" href="/article_types/{{item.id}}">{{item.subject}}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
