{% extends "views/layouts/application.html" %}
{% block content %}
<style>
  strong {color:red;background-color:lightyellow;}
</style>
<div class="danqianweizhi">
  <div class=" erji_name h1" name="">{{root-type.subject}}</div>
  <div class=" erji_wz t5">当前位置：
    <a class="or" href="/article_types/{{root-type.id}}">{{root-type.subject}}</a> &gt;
    {% ifequal root-type.subject parent-type.subject %}
      <a class="or" href="/article_types/{{article-type.id}}">{{article-type.subject}}</a>
      {% else %}
      {{parent-type.subject}} &gt; {{article-type.subject}}
    {% endifequal %}
  </div>
</div>
<div class="erji_content">
  {% include "views/layouts/navigator.html" %}
  <div class="neirong_right">
    <div class=" r_title h1" id="article_title">{{article.title}}</div>
    <div class=" r_shijian t3">
    </div>
    <div class=" r_neirongqu t5">
      <p id="content">{{article.content|safe}}</p>
    </div>
  </div>
</div>
{% endblock %}
